In [1]:
import pandas as pd
import pandas_datareader.data as pdr
import datetime as dt

In [2]:
fin = dt.datetime(2021, 3, 15)
ini = dt.datetime(2016, 1, 1)

In [3]:
df = pd.read_csv('MW-NIFTY-50-22-Mar-2021.csv')
ticker = []
for i in range(1,51):
    ticker.append(df["SYMBOL \n"][i] + '.NS')
    
len(ticker)

50

In [4]:
df1 = pd.DataFrame()

for i in range(len(ticker)):
    try:
        o = pdr.get_data_yahoo(ticker[i],ini,fin)
        df1[str(ticker[i])] = o["Close"]
    except:
        print('error')
        print(i)

df1

,ADANIPORTS.NS,TECHM.NS,BRITANNIA.NS,TCS.NS,SUNPHARMA.NS,INFY.NS,HINDALCO.NS,DRREDDY.NS,HCLTECH.NS,HINDUNILVR.NS,...,RELIANCE.NS,SBILIFE.NS,HDFCLIFE.NS,BAJFINANCE.NS,AXISBANK.NS,HDFCBANK.NS,TATAMOTORS.NS,ICICIBANK.NS,POWERGRID.NS,INDUSINDBK.NS
Date,,,,,,,,,,,,,,,,,,,,,
2016-01-01,267.549988,520.049988,1493.199951,1208.199951,815.549988,552.625000,84.900002,3108.600098,422.924988,856.549988,...,502.907990,NaN,NaN,609.585022,449.899994,544.375000,401.899994,239.091003,141.000000,963.849976
2016-01-04,257.950012,516.400024,1486.300049,1184.800049,799.099976,539.450012,80.750000,3056.000000,422.975006,859.000000,...,492.976990,NaN,NaN,605.244995,438.399994,535.250000,377.049988,232.317993,140.949997,934.200012
2016-01-05,255.699997,521.900024,1483.349976,1174.469971,800.500000,537.025024,82.599998,3070.649902,421.399994,847.950012,...,497.855988,NaN,NaN,599.784973,436.450012,531.200012,374.450012,233.363998,139.149994,935.250000
2016-01-06,251.800003,525.099976,1500.849976,1190.800049,791.950012,534.674988,80.550003,3046.250000,420.700012,843.049988,...,511.253998,NaN,NaN,610.724976,430.700012,533.549988,365.899994,227.363998,139.500000,943.950012
2016-01-07,245.000000,510.799988,1473.280029,1185.619995,783.799988,525.400024,76.650002,2991.800049,412.524994,820.250000,...,501.868011,NaN,NaN,610.630005,409.250000,528.099976,343.549988,224.317993,138.100006,925.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-08,748.400024,968.500000,3463.199951,3006.949951,614.799988,1335.750000,336.600006,4492.250000,961.900024,2174.550049,...,2191.100098,923.849976,722.950012,5320.649902,743.299988,1519.500000,321.250000,608.049988,220.149994,1018.250000
2021-03-09,750.750000,988.150024,3426.750000,3050.949951,612.599976,1345.550049,333.250000,4448.299805,973.150024,2198.500000,...,2191.050049,971.299988,740.200012,5415.049805,745.450012,1562.500000,315.200012,625.099976,216.000000,1024.800049
2021-03-10,745.349976,1008.750000,3480.350098,3070.949951,626.000000,1368.150024,340.350006,4500.399902,988.500000,2227.850098,...,2181.949951,940.750000,731.349976,5545.049805,760.750000,1555.750000,321.450012,625.599976,215.149994,1039.849976
2021-03-12,728.150024,1003.250000,3434.250000,3057.949951,613.599976,1374.849976,330.200012,4426.500000,979.250000,2204.750000,...,2137.600098,914.200012,710.799988,5557.850098,750.599976,1551.949951,317.549988,612.849976,220.050003,1022.650024
2021-03-15,719.049988,1026.650024,3450.399902,3066.149902,605.500000,1373.599976,333.799988,4342.250000,992.349976,2210.850098,...,2108.899902,920.000000,704.150024,5439.049805,744.400024,1528.650024,318.549988,603.500000,224.149994,1038.650024

In [5]:
df1.to_csv('nifty50.csv', index = True)